<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>validar</servlet-name>
        <servlet-class>controlador.validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cliente_editar</servlet-name>
        <servlet-class>Cliente_editar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validacion</servlet-name>
        <servlet-class>controller.validacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TarifaControlador</servlet-name>
        <servlet-class>controller.TarifaControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrenControlador</servlet-name>
        <servlet-class>controller.TrenControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoControlador</servlet-name>
        <servlet-class>controller.EmpleadoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedioPagoControlador</servlet-name>
        <servlet-class>controller.MedioPagoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaisControlador</servlet-name>
        <servlet-class>controller.PaisControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasajeControlador</servlet-name>
        <servlet-class>controller.PasajeControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detalle_ReservaControlador</servlet-name>
        <servlet-class>controller.Detalle_ReservaControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detalle_VentaControlador</servlet-name>
        <servlet-class>controller.Detalle_VentaControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservaControlador</servlet-name>
        <servlet-class>controller.ReservaControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoletaPagoControlador</servlet-name>
        <servlet-class>controller.Boleta_PagoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsientoControlador</servlet-name>
        <servlet-class>controller.AsientoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentaControlador</servlet-name>
        <servlet-class>controller.VentaControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TerminalControlador</servlet-name>
        <servlet-class>controller.TerminalControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CronogramaControlador</servlet-name>
        <servlet-class>controller.CronogramaControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validar</servlet-name>
        <url-pattern>/Validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cliente_editar</servlet-name>
        <url-pattern>/Cliente_editar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validacion</servlet-name>
        <url-pattern>/validacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TarifaControlador</servlet-name>
        <url-pattern>/TarifaControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrenControlador</servlet-name>
        <url-pattern>/TrenControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoControlador</servlet-name>
        <url-pattern>/EmpleadoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedioPagoControlador</servlet-name>
        <url-pattern>/MedioPagoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaisControlador</servlet-name>
        <url-pattern>/PaisControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasajeControlador</servlet-name>
        <url-pattern>/PasajeControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detalle_ReservaControlador</servlet-name>
        <url-pattern>/Detalle_ReservaControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detalle_VentaControlador</servlet-name>
        <url-pattern>/Detalle_VentaControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservaControlador</servlet-name>
        <url-pattern>/ReservaControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoletaPagoControlador</servlet-name>
        <url-pattern>/BoletaPagoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsientoControlador</servlet-name>
        <url-pattern>/AsientoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentaControlador</servlet-name>
        <url-pattern>/VentaControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TerminalControlador</servlet-name>
        <url-pattern>/TerminalControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CronogramaControlador</servlet-name>
        <url-pattern>/CronogramaControlador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
